h1, span{
    color: red;
   }
   
   h2 {
    text-decoration: underline;
    background-color: gray;
   }
     
   span [title="personajes"] { 
    color: green; 
    }

   

   p{
     font-style: italic;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   }
   
   ol, ul{
     list-style: upper-roman;
   }