h1, span{
 color: red;
}

h2{
  color: grey;
  text-decoration: underline;
}
  
p{
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ol, ul{
  list-style: upper-roman;
}